@CHARSET "UTF-8";
table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
border-collapse: collapse; 
border-spacing: 10; 
}

thead
{
	background: #e0e0e0;

}

tr.results
{
	border: 1px;
}


tr{ 
color: #333;
width: 100%;
border: 1px;
font-size: small;
font-family: Helvetica, Arial, sans-serif;
border-collapse: collapse; 
padding: 3px;
border-spacing: 10; 
}

.container
{
margin: 2%;
padding: 25px;
-moz-border-radius: 15px;
border-radius: 15px;
min-height: 50px;
box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
}



input#search {
margin: 30px;
width:100px; /*same as the height*/
height:40px; /*same as the width*/
background-color:#007000;
border:1px solid #007000; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#search:hover{
background:#008000;
border:1px solid #008000;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}